body{
    background-color:white;
    background-size:auto;
    margin: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.titre{
    font-family: Aokahori;
    border-width: 3px;
    border-style: solid;
    border-radius: 0% 0% 100% 0% / 0% 0% 90% 0%   ;
    background-color: rgb(109, 42, 42);
    height: 100%;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation{
    
}

.histoire{
    max-width: 20%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.footer{
    background-color: #333;
    top: 0;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 100%;
}

img{
    display: block;
    margin: auto;
    width: 100%;
    height:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: Aokahori;
  font-size: larger;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: black;
  border-style: solid;
  border-width: 1px;
}

li a:hover {
  background-color: #111;
}

.anchor {
    position: fixed;
    bottom: 1rem;
    right: 1rem;  
    transform: scale(50%);
    opacity: 0.75;
    size: 5%;
    border-style: solid;
    border-width: 12px;
    border-radius: 90% 10% 90% 10% / 10% 90% 10% 90% ;
    
}

.anchor:hover{
    opacity: 1;

}
.anchor:active{
    opacity:0.9;

}


@font-face {
  font-family: Aokahori;
  src: url(font/aokahori.ttf);
}

@font-face {
  font-family: Nozarashi;
  src: url(font/gazenozarashi.ttf);
}

